"""TODO add docstring"""

# The unique Charmhub library identifier, never change it
LIBID = "4fbe502b173643b0b5baeeaa28bcab10"

# Increment this major API version when introducing breaking changes
LIBAPI = {{ version }}

# Increment this PATCH version before using `charmcraft publish-lib` or reset
# to 0 if you are raising the major API version
LIBPATCH = {{ revision }}

# TYPES
{{ pyi }}

# CODE
{{ py }}